APP_ENV=dev
HTTP_PORT=localhost:9000
DSN=host=127.0.0.1 user=root password=root dbname=online-shopping port=5428 sslmode=disable
APP_SECRET=<YourAppSecret>
TWILIO_ACCOUNT_SID=<YourCredentials>
TWILIO_AUTH_TOKEN=<YourCredentials>
TWILIO_FROM_PHONE_NUMBER=+12767884461
STRIPE_PUBLIC_KEY=<YourKeys>
STRIPE_SECRET_KEY=<YourKeys>
STRIPE_SUCCESS_URL=http://localhost:3000/success
STRIPE_CANCEL_URL=http://localhost:3000/cancel